/*
*   Header para web personal
*/
/* */
#header {
    min-height: 100px;
    line-height: 90px !important;
    font-size: 60px;
}
/* */
#body {

}
#footer {
    min-height: 200px ;
    font-size: 40px ;
}
/*
* Fonts
*/
/* @import url('https://fonts.googleapis.com/css?family=Ubuntu') ; */
/* */
.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}
/*
*
*/
/*  body { padding-top: 15vh; } para continuar despues del header */
/*  */
@media screen and (max-height: 900px){
    .wp-body {
        height: 84vh ;
    }
    .span-en-construccion {
        font-size: 120px !important;
        margin-left: 20%;
    }
}
@media screen and (max-height: 800px){
    .wp-body {
        height: 80vh ;
    }
    .span-en-construccion {
        font-size: 100px !important;
        margin-left: 20%;
    }
}
@media screen and (max-height: 760px){
    .wp-body {
        height: 78vh ;
    }
    .span-en-construccion {
        font-size: 80px !important;
        margin-left: 20%;
    }
}
@media screen and (max-height: 660px){
    .wp-body {
        height: 74vh ;
    }
}
@media screen and (max-height: 400px){
    .wp-body {
        height: 70vh ;
    }
    .span-en-construccion {
        font-size: 80px !important;
        margin-left: 20%;
    }
}
/*  */
@media (max-width: 2500px) {
    .wp-body span {
        line-height: 70vh ;
        font-size: 40px ;
    }
}
@media (max-width: 1290px) {
    .wp-body span {
        line-height: 70vh ;
        font-size: 40px ;
    }
}
@media (max-width: 800px) {
    .wp-body span {
        line-height: 70vh ;
        font-size: 20px ;
    }
}
@media (max-width: 400px) {
    .wp-body span {
        line-height: 12vh ;
        font-size: 25px ;
    }
    .span-en-construccion {
        font-size: 40px !important;
        margin-left: 5%;
        line-height: 8vh !important;
    }
    .wp-nombre {
        word-wrap: break-word;
        white-space: initial;
        font-size: 30px !important;
        line-height: normal ;
    }
}
/* */
.wp-nombre {
    word-wrap: break-word;
    white-space: initial;
    font-size: inherit;
}