/*
*   Header para web personal
*/
/*
* Fonts
*/
/* @import url('https://fonts.googleapis.com/css?family=Ubuntu') ; */
/* */
.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}
/*
*
*/
/*  body { padding-top: 15vh; } para continuar despues del header */
.navbar {
    min-height: 15vh;
}
.navbar a{
    font-size: 35px;
}
/*  */
@media screen and (max-height: 900px){
    .wp-body {
        height: 84vh ;
    }
}
@media screen and (max-height: 800px){
    .wp-body {
        height: 80vh ;
    }
}
@media screen and (max-height: 760px){
    .wp-body {
        height: 78vh ;
    }
}
@media screen and (max-height: 660px){
    .wp-body {
        height: 74vh ;
    }
}
@media screen and (max-height: 400px){
    .wp-body {
        height: 70vh ;
    }
}
/*  */
@media (max-width: 2500px) {
    .wp-body span {
        line-height: 70vh ;
        font-size: 40px ;
    }
}
@media (max-width: 1290px) {
    .wp-body span {
        line-height: 70vh ;
        font-size: 40px ;
    }
}
@media (max-width: 800px) {
    .wp-body span {
        line-height: 70vh ;
        font-size: 20px ;
    }
}
@media (max-width: 400px) {
    .wp-body span {
        line-height: 5vh ;
        font-size: 25px ;
    }
}
/* */
.wp-nombre {
    word-wrap: break-word;
    white-space: initial;
    font-size: 24px;
}